version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - lumaa_db
    networks:
      - lumaa_app_network

  lumaa_db:
    image: postgres:latest
    ports:
      - "5432:5432"
    env_file:
      - ./.env-db
    volumes:
      - lumaa_db_data:/var/lib/postgresql/data
    networks:
      - lumaa_app_network

volumes:
  lumaa_db_data:

networks:
  lumaa_app_network:
    driver: bridge